@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

*{
    font-family: 'Noto Sans JP', sans-serif;
    color: #2F2F2F;
    margin: 0;
    padding: 0;
}

body{
    height:100%;
}

.wrapper{
    margin: 0 auto;
    padding: 0 4%;
    text-align: center;
}

/*header----------------------------------*/
/*headerの背景*/
#header_background{
    position: fixed;
    width: 100%;
    height: 10%;
    background: #fff;
    opacity: 70%;
    z-index: 100;
}

/*headerのbox*/
#header_wrapper{
    position: fixed;
    width: 100%;
    height: 10%;
    z-index: 110;
}

/*headerの中身*/
#header_contents{
    display: flex;
    position: fixed;
    align-items: end;
    padding: 15px 0;
    top: 0;
    right: 0;
    left: auto;
}

/*アイコンやテキストの調整*/
#header_contents_content{
    display: grid;
    place-content: center;
    place-items: center;
    margin: 0 15px;
}

#header_contents_content_text{
    margin: 5px;
    color: #928F8F;
}

#header_wrapper li{
    list-style-type: none;
    font-size: 12px;
    font-weight: bold;
}

#header_wrapper a{
    text-decoration: none;
}

/*-----------------------------------------*/


/*title------------------------------------*/
#title{
    position:relative;
    height: 900px;
}

#title_text{
    color:#2F2F2F;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

#title_PORTFOLIO{
    font-size: 11vmin;
    font-weight: bold;
}

#title_by{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3vmin;
    font-weight: bold;
}

/*---------------------------------------------*/

#introduce_img{
    background:url(../img/introduce.jpeg);
    width:450vmin;
    height:450vmin;
}
